/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Light.eot"); /* IE9 Compat Modes */
    src: url("../fonts/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/RobotoCondensed-Light.otf") format("opentype"), /* Open Type Font */
    url("../fonts/RobotoCondensed-Light.svg") format("svg"), /* Legacy iOS */
    url("../fonts/RobotoCondensed-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/RobotoCondensed-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/RobotoCondensed-Light.woff2") format("woff2"); /* Modern Browsers */
}
@font-face {
    font-family: "Teko";
    src: url("../fonts/Teko-light.eot"); /* IE9 Compat Modes */
    src: url("../fonts/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Teko-light.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Teko-Light.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Teko-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Teko-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Teko-Light.woff2") format("woff2"); /* Modern Browsers */
}
/*tags
html{
    font-family: 'Open Sans Condensed', sans-serif;
}
*/
html{

}
body {
    padding-top: 5rem;
    font-family: 'Teko', sans-serif;
}
.canaro{
    font-family: CANARO-MEDIUM,sans-serif;
}
.roboto{
    font-family: "Roboto Condensed",sans-serif;
}
/*clases*/
.titulo {
    padding: 1.8rem 1.4rem;
    text-align: center;
}
.centro{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.voluntariado{
    padding: 0.5rem;
    max-height: 80px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bold{
    font-weight: bold;
    font-size: large;
}
.texto-grande{
     font-weight: bolder;
    font-size: 5rem;
}
.texto-grande2{
    font-weight: bold;
    font-size: 4rem;
}
.texto-404{
    margin-top: 2rem;
    font-family: 'CANARO-MEDIUM', sans-serif
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

}
.morado{
    color: #b2129c;
}
.celeste{
    color: #00ffcc;
}
.barra-principal{
    background-color: #b2129c;
    font-size: 2rem;
}
.barra-intermedia{
    background-color: #b2129c;
    height: 1.2rem;
    width: 100%;
    margin-bottom: 0.7rem;
}
.barra-pequeña{
    background-color: #00ffcc;
    height: 0.6rem;
    width: 100%;
    margin-bottom: 0.7rem;
}
.bg-moradito{
    background-color: #b2129c;
    color: white;
}
.bg-boton{
    background-color: #0afecb;
    color: #b2129c;
}
.form-boton{
    font-weight: bolder;
    font-size: 2.5rem;
    width: 80%;
    border: none;

 }
.letra-titulo{

    text-decoration-color: #0afecb;
}
.texto-decripcion{

    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 0.3rem;
}
.navbar-custom{
 font-size: 1.6rem;
    z-index: 5000;
}
.navbar-custom .navbar-brand
{
    color: white;
}
.navbar-custom .navbar-text {
    color: white;
}
.navbar-custom .navbar-nav .nav-link {
    color: #0afecb;
}

.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item.active .nav-link{
    color: #bafef0;
}
.navbar-custom .navbar-toggler{

}
.navbar-toggler{
    opacity: .5;
}
.logo{
    max-width: 120px;
    max-height: 100%;
}
.landing{
    min-height: 480px;
    height:auto;
    width: 100%;
    display: block;
    background-image: url("../assets/landing_info.jpg");
    background-repeat: no-repeat;
    background-position: center top ;
    background-size:  100% auto ;
}
.divisor {
    display: inline-block;
    height: 30px;
    /*position: center;
    margin-top: auto;
    margin-bottom: auto;*/
    margin-left: 7px ;
    margin-right: 7px;
    left: auto;
    border-left: 4px solid white;
}
.card-text {
    font-size: 1.5rem;
}
@media (max-width: 980px) {
    .divisor {
        display: none;
    }
    .landing {
        min-height: 360px;
    }
    .navbar-collapse {
        font-size: 2rem;
        padding-left: 20px;
        background-color: rgba(172, 18, 154, 0.7);
    }
    .card-img {
        max-width: 8rem;
    }
    .card-text {
        font-size: 0.95rem;
    }
    .bg-boton{
        height: 90%;
        width: 100%;
        padding: 0;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

}
@media (max-width: 820px) {
    .divisor {
        display: none;
    }
    .landing{
        min-height: 240px;
    }
    .card-img {
        max-width: 10rem;
    }
    .card-text {
        font-size: 1.3rem;
    }

}
.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mail-border {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid thick  ;
    border-color: #b2129c ;
    box-shadow: none;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
}
.mail-label{
    font-size: 1.4rem;
    font-weight: bold;
}
.inscribete {
    border: 0;
    height: 100%;
    width: 100%;
}
.inscribete-container {
    display: inline-block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
.voluntario-container {
    display: block;
    position: relative;
    margin: auto;
}
.form-control-feedback {
    display: block;
    position: absolute;
    z-index: 2;
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 8px;
    line-height: 2.5rem;
    text-align: center;
    pointer-events: none;
}
.form-control {
     padding-left: 2.2rem;
 }

.logo-footer{
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}
.logo-redes{
    display: inline-block;
    position: relative;
    margin: auto;
    height: auto;
    width: 49%;
    padding-top: 5px;

}
.logo-redes-container{
    height: 20%;
    display: block;
    margin-top: 0px;

}
.page-footer {
    display: block;
    height: 600px;
    line-height: 60px;
}
#popup{
    width: auto;
    height: auto;
    min-height: 720px;
    min-width: 360px;
    position: absolute;
    display: none;
    margin: 0 auto;
    top: 25%;
    left: 40%;
    /*
    width: 360px;
    height: 720px;*/
}
/*terminos*/

.iframe-1{
    width: 90%;
    height: 800px;
}
.carousel-indicators li {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    text-indent: 0;
    cursor: auto;
    border: none;
    border-radius: 40%;
    background-color: #7ffee4;
    box-shadow:  1px 1px 3px 1px rgba(0,0,0,0.7);
}
.carousel-indicators .active {
    width: 40px;
    height: 40px;
    margin: 0.5rem;
    margin-top: 0.85rem;
    background-color: #02f2c1;
}
.carousel-indicators2 li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.0rem;
    text-indent: 0;
    cursor: auto;
    border: none;
    border-radius: 10%;
    background-color: #7ffee4;
    box-shadow:  1px 1px 3px 1px rgba(0,0,0,0.9);
}
.carousel-indicators2 .active {
    width: 25px;
    height: 25px;
    margin: 0.5rem;
    margin-top: 0.0rem;
    background-color: #02f2c1;
}
.centro-slide{
    height: 90%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.flechas{
    font-size: 2.4rem
}
@media  (max-width: 770px) {
    .carousel-indicators li {
        width: 18px;
        height: 18px;
        margin: 0.1rem;
    }
    .carousel-indicators .active {
        width: 18px;
        height: 18px;
        margin: 0.1rem;
    }
    .centro-slide{

        height: auto;
        display: flex;
        width: 100%;
    }
    .flechas{
        font-size: 1.5rem;
    }.mail-border{
         font-size:1.3rem;
         margin: 0.5rem;
     }
}
.ad-android {
    z-index: 99;
    display: compact;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 37px;
    background-color: #e017c5;
    opacity: 0.93;
    padding-top: 20px;
}
.ad-x{
    margin-left: auto;
    margin-right: auto;
    display: inline;
    font-size: 1.2rem;
    width: 2.2rem;
    height: 2.3rem;
    padding: 0;
}
.texto-ad{
    font-size: 1.5rem;
}